{% extends 'base/base.html' %}
{% block meta %}
<meta name="title" content="About Us - Output DGO">
<meta name="description" content="Learn about Output DGO, a multidisciplinary design studio specializing in graphic design, web development, and custom creative solutions.">
<meta name="keywords" content="Output DGO, about us, design studio, graphic design, web development, creative solutions, branding">
<meta name="author" content="Output DGO">
<title>ABOUT - OUTPUT DGO</title>
{% endblock %}
{% block content %}
{% load static %}   
<header class="container center">
    <img id="aboutimg" src="{% static 'images/about.png' %}"></img>
</header>
<section class="p20 m20 about">
    <h2 class="special">ABOUT US</h2>
    <p>Founded in 2024, Output DGO (Digital Graphic Operations) is a Midwest-based digital design studio specializing in custom web experiences. Founded by Marcus Hazley and Devyn Johnson, the studio develops websites and digital solutions that give businesses and creators full control over how they connect with their audiences.
Instead of relying on algorithms or third-party platforms, Output DGO builds independent digital ecosystems—spaces where brands own their presence and engage users directly. The studio’s work focuses on clarity, performance, and long-term impact, helping clients establish lasting connections.
</p>
</section>

<!-- <div class="teamember__container">
        <div class="teamember">
            <div class="teamember__imgbox"><img src="{% static 'images/marcus.jpg' %}" alt="Marcus Hazley"></img></div>
            <h3>Marcus Hazley</h3>
            <p>Co-Founder</p>
        </div>
        <div class="teamember">
            <div class="teamember__imgbox"><img src="{% static 'images/devyn.jpg' %}" alt="Devyn Johnson"></img></div>
            <h3>Devyn Johnson</h3>
            <p>Co-Founder</p>
        </div>
</div> -->
{% endblock %}
</html>