{% extends 'base/base.html' %}
{% block meta %}
<meta name="title" content="Outreach - Output DGO">
<meta name="description" content="Explore the outreach initiatives of Output DGO, showcasing our commitment to community engagement and social impact.">
<meta name="keywords" content="Output DGO, outreach, community engagement, social impact, design, development">
<meta name="author" content="Output DGO">
<title>OUTREACH - OUTPUT DGO</title>
{% endblock %}
{% block content %}   
{% if page_obj %}
    {% for post in page_obj %}
    <div class="reachlist">
        <div class="reachlist__info">
            <h2 class="reachlist__title"><a href="{% url 'detail' post.id %}">{{post.title}}</a></h2><p class="reachlist__description">{{post.description}}</p>
        </div>
    </div>
        <hr>
    {% endfor %}
{% else %}
    <h2>No Outreach information available at the moment.</h2>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}