{% extends 'base/base.html' %}
{% block meta %}
<meta name="title" content="Thank You - Output DGO">
<meta name="description" content="Thank you for contacting Output DGO. We will get back to you soon!">
<meta name="keywords" content="Output DGO, contact, thank you, success">
<meta name="author" content="Output DGO">
<title>THANK YOU - OUTPUT DGO</title>
{% endblock %}
{% block content %}
    <section class=" container p20 m20">
        <h2 class="special">Thanks! You will hear from us soon!</h2>
    </section>
{% endblock %}